name: airbyte-ci-teradata
on:
  push:
    branches:
      - td_develop
  workflow_dispatch:
  schedule:
  - cron: "0 6 * * *"
permissions:
  contents: write
  pages: write
  id-token: write
jobs:
  teradata-tests:
    name: "Run Airbyte Teradata Destination Connector Unit and Integration Tests"
    runs-on: "ubuntu-22.04"
    steps:
      - name: "Checkout Source Code"
        uses: actions/checkout@v4
        with:
          ref: ${{ vars.BRANCH }}
          persist-credentials: false
      - name: "Install PIP"
        run: |
          sudo apt-get update
          sudo apt install python3-pip
      - name: "Install Python"
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: "Install Java 17"
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
      - name: "Install Node 16"
        uses: actions/setup-node@v4
        with:
          node-version: '16'
      - name: Install jq
        run: sudo apt install -y jq
      - name: "Install Docker and Docker Compose"
        run: |
          sudo apt-get update
          sudo apt-get install ca-certificates curl gnupg lsb-release
          sudo mkdir -p /etc/apt/keyrings
          curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo gpg --dearmor -o /etc/apt/keyrings/docker.gpg
          sudo chmod a+r /etc/apt/keyrings/docker.gpg
          echo  "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu  $(lsb_release -cs) stable" | sudo tee /etc/apt/sources.list.d/docker.list > /dev/null
          sudo apt-get update
          sudo apt-get install docker-ce docker-ce-cli containerd.io docker-compose-plugin
          sudo chmod 666 /var/run/docker.sock
      - name: Download Test artifacts from Teradata S3
        run: |
          mkdir airbyte-integrations/connectors/destination-teradata/secrets
          aws s3 cp s3://${{ vars.NON_SSL_CSAE_ENV_AWS_PATH }} airbyte-integrations/connectors/destination-teradata/secrets
          aws s3 cp s3://${{ vars.SSL_CSAE_ENV_AWS_PATH }} airbyte-integrations/connectors/destination-teradata/secrets
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: ${{ secrets.AWS_REGION }}
      - name: "Run Teradata Destination Connector Integration Tests"
        run:  |
          REMOTE_CONNECTOR_CATALOG_URL=https://github.com/SatishChGit/AirbyteEnv/blob/main/oss_registry.json
          ./gradlew :airbyte-integrations:connectors:destination-teradata:integrationTest
      - name: Build GITHUB Page for Teradata Airbyte Connector Integration Tests Report
        if: always()
        uses: actions/jekyll-build-pages@v1
        with:
         source: airbyte-integrations/connectors/destination-teradata/build/reports/tests/integrationTestJava
         destination: ./_site
      - name: Upload Teradata Airbyte Connector Integration Tests Report to GITHUB page
        if: always()
        uses: actions/upload-pages-artifact@v2
      - name: Publish Teradata Airbyte Connector Integration Tests Report to GITHUB page
        if: always()
        id: deployment
        uses: actions/deploy-pages@v2
